#home {

    height: 100%;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        align-items: start;
        justify-content: space-between;

        .border {
            width: 20%;
        }

        .titles {
            flex: 1;
            h1{
                padding-top: 25px;
                font-size: clamp(2em, 5vw, 5em);
            }
        }

        .actions {
            padding: 10px;

            display: flex;
            justify-content: flex-end;
            gap: 5px;
        }

        
        @media screen and (max-width: 768px) {

            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            h1 {
                padding-top: 5px;
            }

            .titles {
                width: 100%;
            }

            .border {
                width: 100%;

                &.actions {
                    align-items: center;
                    justify-content: center;
                }
            }
            
        }
    }

    main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .join {
            width: 45%;

            .inputs {
                display: flex;
                gap: 10px;

                .input {}
            }

            button {
                width: 100%;
                font-size: 1.8em;
            }
        }

        hr {
            margin: 50px 5px;
            width: 50%;
        }

        .host {
            width: 45%;

            button {
                width: 100%;
                font-size: 1.8em;
            }
        }

        @media screen and (max-width: 768px) {

            hr {
                margin: 15px 0px;
                width: 80%; 
            }

            .join,
            .host {
                width: 80%;

                font-size: 12px;
            }
            
        }
    }

}