.rules {

    .rules-dialog {
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 9999;
        top: 0; left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &.d-none {
            display: none;
        }

        .rules-content {
            position: relative;
            position: relative;
            color: #fff;
            background-color: #1a1a1a;
            padding: 10px 20px;
            border-radius: 10px;

            height: 80vh;
            width: 70%;

            user-select: none;

            h1 {
                text-align: center;
                padding-bottom: 50px;
            }

            h2 {
                padding: 10px 0;
            }

            .close-rules {
                position: absolute;
                z-index: 9999;
                top: 5px;
                right: 10px;
                cursor: pointer;
                font-size: 40px;
                transition: all 0.2s ease-in-out;
    
                &:hover {
                    color: darken(#ff0000, 20%);
                }
            }
        }


    }

    @media screen and (max-width: 768px) {
        .rules-dialog {
            .rules-content {
                width: 90%;

                .rules-header {
                    font-size: 0.5em;

                    .close-rules {
                        top: 0px;
                        right: 0px;
                        font-size: 2rem;
                    }
                }
            }
        }
        
    }

}